@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

/* .resumeIcon {
  position: fixed;
  top: 2%;
  right: 2%;
} */
.htext {
  position: relative;
  display: block;
  overflow: hidden;
}
.about {
  position: absolute;
  top: 100vh;
  left: 50%;
  right: 7%;
  padding-bottom: 34vh;
  margin: 0;
  padding: 0;
  background: #ece9e9;
}
.aboutintro {
  word-wrap: break-word;
  letter-spacing: 0.4px;
  font-size: 2.2vw;
  line-height: 140%;
  font-family: "Open Sans";
}
.minih {
  font-weight: 600;
  padding-bottom: 0.5rem;
}
@media (max-width: 667px) {
  .about {
    left: 0;
    right: 0;
    padding-bottom: 0;
    padding: 7%;
    z-index: 400;
  }
  .aboutintro {
    font-size: 6vw;
  }
}
/* .down {
  position: absolute;
  right: 3%;
  bottom: 2%;
}
.downButton {
  all: unset;
  font-size: 3rem;
  font-family: "Darumadrop One";
  width: auto;
  height: auto;
}
.downButton:hover {
  color: rgb(88, 182, 150);
} */
